 <div class="container-bestprice">
            <div class="card-50">
                <div class="img">
                  <img class="holder-369x310" src="~/images/369x310.svg">
                </div>
                <div class="card-body-tosell">
                    <h5 class="card-title">Table Lamp - scelerisque tempore</h5>
                    <p class="card-pri">$50.00 $30.00</p>
                </div>
            </div>
            
            <div class="card-up-sale">
              <div class="img">
                  <img class="">
              </div>
              <div class="card-body-50">
                  <h5 class="card-title">UP TO SELL</h5>
                  <span class="price-off"><b>50% OFF</b></span><br>
                <span class="best-price-text"><B>Get The Best Price</B>
                </span> <br>
                <span>Get the best daily offer et accusam et justo duo dolores<br> et ea rebum.<br> Stet clita kasd gubergren no sea taki</span><br>
                <a href="#">Discover More</a>

              </div>
          </div>

          <div class="card-50">
            <div class="img">
              <img class="holder-369x310" src="~/images/369x310.svg">
            </div>
            <div class="card-body-tosell">
                <h5 class="card-title">Table Lamp - scelerisque tempore</h5>
                <p class="card-pri">$50.00 $30.00</p>
            </div>
        </div>            
        </div>