
<section class="Collection-cards">
        <div class="container">
            <div class="card-home">
                <div class="img">
                    <img class="holder-270x295" src="~/images/270x295.svg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Apple watch series</h5>
                    <p class="card-pri">$300.00</p>
                </div>
            </div>


            <div class="card-home">
              <div class="img">
                  <img class="holder-270x295" src="~/images/270x295.svg">
              </div>
              <div class="card-body">
                  <h5 class="card-title">Table Lamp</h5>
                  <p class="card-pri">$30.00</p>
              </div>
          </div>
          <div class="card-home">
            <div class="img">
                <img class="holder-270x295" src="~/images/270x295.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title">Laptop Thinkpad Lenovo</h5>
                <p class="card-pri">$800.00</p>
            </div>
        </div>

        <div class="card-home">
          <div class="img">
              <img class="holder-270x295" src="~/images/270x295.svg">
          </div>
          <div class="card-body">
              <h5 class="card-title">Big Table Lamp</h5>
              <p class="card-pri">$50.00</p>
          </div>
      </div>

      <div class="card-home">
        <div class="img">
            <img class="holder-270x295" src="~/images/270x295.svg">
        </div>
        <div class="card-body">
            <h5 class="card-title">Gumshoes black fashion</h5>
            <p class="card-pri">$35.00</p>
        </div>
    </div>

    <div class="card-home">
      <div class="img">
          <img class="holder-270x295" src="~/images/270x295.svg">
      </div>
      <div class="card-body">
          <h5 class="card-title">Woman white dress</h5>
          <p class="card-pri">$45.00</p>
      </div>
  </div>

  <div class="card-home">
    <div class="img">
        <img class="holder-270x295" src="~/images/270x295.svg">
    </div>
    <div class="card-body">
        <h5 class="card-title">Kettle Water Boiler</h5>
        <p class="card-pri">$40.00</p>
    </div>
</div>

<div class="card-home">
  <div class="img">
      <img class="holder-270x295" src="~/images/270x295.svg">
  </div>
  <div class="card-body">
      <h5 class="card-title">Congee rice cooker</h5>
      <p class="card-pri">$60.00</p>
  </div>
</div>
          
        </div>
    </section>
    
    <div class="btn-load">
     <button class="load-more-btn">
         Load More <i class="fa-solid fa-arrows-rotate"></i></span> 
    </button> 
  </div>                  
           </section>

           <div class="container-bestprice">
            <div class="card-50">
                <div class="img">
                  <img class="holder-369x310" src="~/images/369x310.svg">
                </div>
                <div class="card-body-tosell">
                    <h5 class="card-title">Table Lamp - scelerisque tempore</h5>
                    <p class="card-pri">$50.00 $30.00</p>
                </div>
            </div>
            
            <div class="card-up-sale">
              <div class="img">
                  <img class="">
              </div>
              <div class="card-body-50">
                  <h5 class="card-title">UP TO SELL</h5>
                  <span class="price-off"><b>50% OFF</b></span><br>
                <span class="best-price-text"><B>Get The Best Price</B>
                </span> <br>
                <span>Get the best daily offer et accusam et justo duo dolores<br> et ea rebum.<br> Stet clita kasd gubergren no sea taki</span><br>
                <a href="#">Discover More</a>

              </div>
          </div>

          <div class="card-50">
            <div class="img">
              <img class="holder-369x310" src="~/images/369x310.svg">
            </div>
            <div class="card-body-tosell">
                <h5 class="card-title">Table Lamp - scelerisque tempore</h5>
                <p class="card-pri">$50.00 $30.00</p>
            </div>
        </div>            
        </div>
      
        <section class="Top-sellings">
          <p class="top-selling-text">Top selling products in this week</p>

          <div class="container-topsell">
            <div class="card-topsell">
                <div class="img">
                    <img class="holder-270x295" src="~/images/270x295.svg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Apple watch series</h5>
                    <p class="card-pri">$300.00 $230.00</p>
                </div>
            </div>

            <div class="card-topsell">
              <div class="img">
                  <img class="holder-270x295" src="~/images/270x295.svg">
              </div>
              <div class="card-body">
                  <h5 class="card-title">Table Lamp</h5>
                  <p class="card-pri">$30.00 $20.00</p>
              </div>
          </div>

          <div class="card-topsell">
            <div class="img">
                <img class="holder-270x295" src="~/images/270x295.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title">Laptop Thinkpad Lenovo</h5>
                <p class="card-pri">$800.00 $600.00</p>
            </div>
        </div>

        <div class="card-topsell">
          <div class="img">
              <img class="holder-270x295" src="~/images/270x295.svg">
          </div>
          <div class="card-body">
              <h5 class="card-title">Big Table Lamp</h5>
              <p class="card-pri">$50.00 $40.00</p>
          </div>
      </div>

      <div class="card-topsell">
        <div class="img">
            <img class="holder-270x295" src="~/images/270x295.svg">
        </div>
        <div class="card-body">
            <h5 class="card-title">Gumshoes black fashion</h5>
            <p class="card-pri">$35.00 $30.00</p>
        </div>
    </div>

    <div class="card-topsell">
      <div class="img">
          <img class="holder-270x295" src="~/images/270x295.svg">
      </div>
      <div class="card-body">
          <h5 class="card-title">Woman white dress</h5>
          <p class="card-pri">$45.00 $35.00</p>
      </div>
  </div>
        </div>
        </section>