 <section class="Lamp-description">
          
          <div class="container-lamp">
            <div class="card-LTG">
                <div class="img">
                  <img class="holder-369x310" src="~/images/369x310.svg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Table lamp 1562 LTG modal</h5>
                    <p>Best dress for everyone ed totam velit risus viverra<br>nobis donec recusandae perspiciatis incididuno</p>
                    <div class="actions">
                      <span class="admin-post">POST BY:ADMIN</span>
                      <span class="comments">💬 <span class="comment-count">0</span> Comments</span>
                  </div>        
                    <p class="card-pri"></p>
                </div>
            </div>

            <div class="card-LTG">
              <div class="img">
                <img class="holder-369x310" src="~/images/369x310.svg">
              </div>
              <div class="card-body">
                  <h5 class="card-title">Table lamp 1562 LTG modal</h5>
                  <p>Best dress for everyone ed totam velit risus viverra<br>nobis donec recusandae perspiciatis incididuno</p>
                  <div class="actions">
                    <span class="admin-post">POST BY:ADMIN</span>
                    <span class="comments">💬 <span class="comment-count">0</span> Comments</span>
                </div>
                  <p class="card-pri"></p>
              </div>
          </div>

          <div class="card-LTG">
            <div class="img">
              <img class="holder-369x310" src="~/images/369x310.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title">Table lamp 1562 LTG modal</h5>
                <p>Best dress for everyone ed totam velit risus viverra<br>nobis donec recusandae perspiciatis incididuno</p>
                <div class="actions">
                  <span class="admin-post">POST BY:ADMIN</span>
                  <span class="comments">💬 <span class="comment-count">0</span> Comments</span>
              </div>
                <p class="card-pri"></p>
            </div>
        </div>
        </div>
          </div>
        </div>    

        </section>
