<section class="Top-sellings">
          <p class="top-selling-text">Top selling products in this week</p>

          <div class="container-topsell">
            <div class="card-topsell">
                <div class="img">
                    <img class="holder-270x295" src="images/270x295.svg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Apple watch series</h5>
                    <p class="card-pri">$300.00 $230.00</p>
                </div>
            </div>

            <div class="card-topsell">
              <div class="img">
                  <img class="holder-270x295" src="images/270x295.svg">
              </div>
              <div class="card-body">
                  <h5 class="card-title">Table Lamp</h5>
                  <p class="card-pri">$30.00 $20.00</p>
              </div>
          </div>

          <div class="card-topsell">
            <div class="img">
                <img class="holder-270x295" src="images/270x295.svg">
            </div>
            <div class="card-body">
                <h5 class="card-title">Laptop Thinkpad Lenovo</h5>
                <p class="card-pri">$800.00 $600.00</p>
            </div>
        </div>

        <div class="card-topsell">
          <div class="img">
              <img class="holder-270x295" src="images/270x295.svg">
          </div>
          <div class="card-body">
              <h5 class="card-title">Big Table Lamp</h5>
              <p class="card-pri">$50.00 $40.00</p>
          </div>
      </div>

      <div class="card-topsell">
        <div class="img">
            <img class="holder-270x295" src="images/270x295.svg">
        </div>
        <div class="card-body">
            <h5 class="card-title">Gumshoes black fashion</h5>
            <p class="card-pri">$35.00 $30.00</p>
        </div>
    </div>

    <div class="card-topsell">
      <div class="img">
          <img class="holder-270x295" src="images/270x295.svg">
      </div>
      <div class="card-body">
          <h5 class="card-title">Woman white dress</h5>
          <p class="card-pri">$45.00 $35.00</p>
      </div>
  </div>
        </div>
        </section>